[program:kea-agent]
user=$c{image/user}
command=/sbin/kea-ctrl-agent -c /etc/kea/kea-ctrl-agent.conf
autostart=true
autorestart=true
stdout_logfile=/var/log/supervisor/kea-agent.log
stderr_logfile=/var/log/supervisor/kea-agent.err